<p id="notice"><%= notice %></p>

<h1>Movements</h1>

<form method="GET" action="/movements" class="filterborders" style="width: 520px">
  <strong>Date:</strong> <input type="date" name="date" max="<%=DateTime.current.to_date%>" class="filter-field"/>
  <strong>Cuenta:</strong> <input type="text" name="filter" class="filter-field"/>
  <input type="submit" class="btn btn-sm button-white"/>
</form>

<br>

<table class="table table-secondary">
  <thead>
    <tr>
      <th><%= link_to "Movement type", movements_path(:sort => true, :by => "movement_type", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th><%= link_to "Date", movements_path(:sort => true, :by => "date", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th><%= link_to "Time", movements_path(:sort => true, :by => "time", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th><%= link_to "Credito", movements_path(:sort => true, :by => "amount", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th><%= link_to "Debito", movements_path(:sort => true, :by => "amount", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th><%= link_to "Description", movements_path(:sort => true, :by => "description", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th><%= link_to "Bill", movements_path(:sort => true, :by => "bill_id", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th><%= link_to "Saldo", movements_path(:sort => true, :by => "total_amount", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <% if can? :manage, movement  %>
        <% if movement.movement_type == "C"%>
          <td>Crédito</td>
        <% else %>
          <td>Débito</td>
        <% end %>
          <td><%= movement.date %></td>
          <td><%= movement.time %></td>
          <% if movement.movement_type == "C" %>
            <td><%= movement.amount %></td>
            <td>0</td>
          <% else %>
            <td>0</td>
            <td><%= movement.amount %></td>
          <% end %>
          <td><%= movement.description %></td>
          <td><%= movement.bill.bill_type %></td>
          <td><%= movement.total_amount %></td>
          <td><%= link_to 'Show', movement %></td>
          <!-- <td><%#= link_to 'Edit', edit_movement_path(movement) %></td> -->
          <td><%= link_to 'Destroy', movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @movements %>

<br>

<%= link_to 'New Movement', new_movement_path, class: 'btn btn-sm button-gray' %>
