<p id="notice"><%= notice %></p>

<div class="container-gray" style="width: 300px;">
  <p>
    <strong>Bill type:</strong>
    <%= @bill.bill_type %>
  </p>

  <p>
    <strong>Begin date:</strong>
    <%= @bill.begin_date %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= @bill.end_time %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= @bill.balance %>
  </p>
</div>


<%= link_to 'Edit', edit_bill_path(@bill), class: 'btn btn-sm button-gray' %>
<%= link_to 'Back', bills_path, class: 'btn btn-sm button-gray' %>
